.lightboxModal {
  background-color: white;
  width: 100vw;
  height: 100vh;

  .lightboxContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;

    .navButton {
      color: #901c1c;
      cursor: pointer;
      padding: 20px;
      font-size: 60px;
    }

    .mediaContainer {
      display: flex;
      flex-direction: column;

      .media {
        width: 100%;
        height: 80vh;
        object-fit: contain;
        border-radius: 5px;
      }

      .mediaTitle {
        color: #901c1c;
        font-size: 24px;
        margin-top: 10px;
      }
    }
  }
}
